* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#main-container {
  display: flex;
  flex-direction: column;
}

.bg-img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

/* Main Content */
.container-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* Slider */
.slider-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
  padding: 40px;
  top: 250px;
  width: 900px;
  height: auto;
  color: white;
  background: rgba(24, 25, 28, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  border-radius: 100px;
  font-size: 24px;
}

.slider-button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: #fa8072;
  color: white;
  border-radius: 40px;
  font-size: 24px;
  padding: 5px;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  display: block;
}

/* Buttons */
.prev-btn,
.next-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Dishes*/
.dishes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 100px 0px;
  background-image: url("../assets/crab.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #bdc3c7;
}

.dishes-container {
  display: flex;
  gap: 100px;
  align-items: center;
  width: 80%;
}

.dishes-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  width: 900px;
  height: 300px;
  padding: 0px 20px;
  background: rgba(24, 25, 28, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  border-radius: 100px;
}

.dishes-title {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dish-main-title {
  font-size: 80px;
}

.dishes-subtitle {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.dishes-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dishes-img img {
  width: 70%;
  height: 70%;
}

/* Dish 2 */
.dish-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-image: url("../assets/seafood.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #bdc3c7;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
  }

  .burger-menu {
    display: flex;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-items.responsive {
    display: flex;
  }

  .slider {
    width: 90%;
  }

  .products {
    flex-direction: column;
    align-items: center;
  }

  .single-product {
    width: 90%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .login-item {
    position: unset;
    right: unset;
    padding: unset;
  }
}

@media (max-width: 480px) {
  .nav-item {
    font-size: 14px;
  }

  .login-item {
    position: unset;
    right: unset;
    padding: unset;
  }

  .prev-btn,
  .next-btn {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .footer-section h3 {
    font-size: 16px;
  }

  .footer-section p,
  .footer-section ul {
    font-size: 12px;
  }
}

/* Login Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 25, 28, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgba(24, 25, 28, 0.8);
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 15% auto;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #fa8072;
}

.form-group label {
  margin-bottom: 8px;
  font-size: 16px;
  color: white;
}

.submit-button {
  width: 100%;
  padding: 10px 15px;
  background-color: #fa8072;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #e0675e;
}

.login-form,
.register-form {
  padding-top: 20px;
}

.login-form p,
.register-form p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-form a {
  text-decoration: none;
  color: #fa8072;
}
