* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#main-container {
  display: flex;
  flex-direction: column;
}

.bg-img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

/* Navbar */
.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(24, 25, 28, 0.4);
  backdrop-filter: blur(1.5px);
  transition: transform 0.3s;
  height: 40px;
  z-index: 1;
  width: 100%;
  padding: 23px 0;
  font-size: 20px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
}

.burger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger-menu.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-items {
  font-size: 20px;
}

.nav-items.responsive {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #bdc3c7;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  padding: 10px 0;
  z-index: 1000;
  border-top: 1px solid black;
}

.nav-item {
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
}

.login-item {
  position: absolute;
  right: 60px;
  padding: 0;
}

.logo {
  width: auto;
  height: 90px;
  position: absolute;
  left: 10px;
}

/* Main Content */
.container-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* Slider */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  display: block;
}

/* Buttons */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Dishes*/
.dishes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 100px 0px;
  background-image: url("../assets/crab.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #bdc3c7;
}

.dishes-container {
  display: flex;
  gap: 100px;
  align-items: center;
  width: 80%;
}

.dishes-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  width: 900px;
  height: 300px;
  padding: 0px 20px;
  background: rgba(24, 25, 28, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  border-radius: 100px;
}

.dishes-title {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dish-main-title {
  font-size: 80px;
}

.dishes-subtitle {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.dishes-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dishes-img img {
  width: 70%;
  height: 70%;
}

/* Dish 2 */
.dish-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-image: url("../assets/seafood.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #bdc3c7;
}

/* Footer */
.footer {
  position: relative;
  top: 100%;
  background-color: #000000;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-section {
  flex: 1;
  max-width: 300px;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: white;
  font-size: 18px;
  margin: 0 5px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ff9800;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
  }

  .burger-menu {
    display: flex;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-items.responsive {
    display: flex;
  }

  .slider {
    width: 90%;
  }

  .products {
    flex-direction: column;
    align-items: center;
  }

  .single-product {
    width: 90%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .login-item {
    position: unset;
    right: unset;
    padding: unset;
  }
}

@media (max-width: 480px) {
  .nav-item {
    font-size: 14px;
  }

  .login-item {
    position: unset;
    right: unset;
    padding: unset;
  }

  .prev-btn,
  .next-btn {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .footer-section h3 {
    font-size: 16px;
  }

  .footer-section p,
  .footer-section ul {
    font-size: 12px;
  }
}
